/* FONTS */

$width-name: max-device-width;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&display=swap');

html {
  font-size: 1rem !important;
}

@media all and ($width-name: $sm) {
  html {
    font-size: 1.3rem !important;
  }
}

@media all and ($width-name: $md) {
  html {
    font-size: 1.2rem !important;
  }
}

@media all and ($width-name: $lg) {
  html {
    font-size: 1.1rem !important;
  }
}

@media all and ($width-name: $xl) {
  html {
    font-size: 1rem !important;
  }
}
