@import 'margin.scss';
@import 'padding.scss';
@import 'vert-height.scss';
@import 'fonts.scss';
@import 'bootstrap.scss';

html, body {
    height: 100%;
    font-family: 'Anonymous Pro', monospace;
}

.content-padding {
    padding-top: 88pt;
}

.s8-logo {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.col-width-auto {
  width: auto !important;
}

.min-width-logo {
  min-width: 200pt;
}

.min-height-main {
  min-height: 444pt;
}

#main-block {
  background-color: #D3D3D3;
}


// ELM THINGS

/*
 *   elm-hot creates an additional div wrapper around the app to make HMR possible.
 *     This could break styling in development mode if you are using Elm UI.
 *
 *       More context in the issue:
 *           https://github.com/halfzebra/create-elm-app/issues/320
 *           */
[data-elm-hot="true"] {
      height: inherit;

}
