$amounts: (0, 1, 2, 3, 4); // Adjust this to include the pixel amounts you need.
$types: (top, bottom, left, right);

@each $type in $types {
  @each $size in $amounts {
    .p#{str-slice($type, 0, 1)}-#{$size} {
      padding-#{$type}: #{$size * 0.8}em !important;
    }
  }
}

@each $size in $amounts {
  .p-#{$size} {
    padding: #{$size * 0.8}em !important;
  }
}

@each $size in $amounts {
  .px-#{$size} {
    padding-left: #{$size * 0.8}em !important;
  }
}

@each $size in $amounts {
  .py-#{$size} {
    padding-top: #{$size * 0.8}em !important;
  }
}

.p-auto {
  padding: auto !important;
}

.px-auto {
  padding-left: auto !important;
}

.py-auto {
  padding-top: auto !important;
}
